<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Cache calculator</title>

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/pygment_trac.css" media="screen">

    <script src="js/vendor/modernizr-2.8.3.min.js"></script>       
  </head>

  <body>
    <header>
      <div class="container">
        <h1>Cache calculator</h1>
        <h4>This humble app calculates the cache organization for a 1 level cache system</h4>
        <a href="https://github.com/ptsavdar/cache.calculator/tree/gh-pages" class="button button-primary"><small>View page on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper" class="container">
      <section id="main-content">
        <h4>
          <a id="welcome-to-cache-calculator-app" class="anchor" href="#welcome-to-cache-calculator-app" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to cache calculator app
        </h4>

        <p>This app takes as inputs the cache specifications (size, block size, associativity, memory address size) and returns the tag, index and block offset bits for the memory address. The second part of the app calculates the miss rate for the given cache and a set of loops and actions.</p>

        <div data-ng-controller="CacheController as cc">
            <h5>Cache organization</h5>
            <form id="cacheOrganizationForm" name="cacheOrganization" data-ng-submit="cc.submitForm()">
              <div class="row input-row">
                <div class="six columns">
                    <label for="blockSize">Cache size </label>
                    <input id="blockSize" type="number" data-ng-model="cc.cache.cacheSize">
                    <select data-ng-options="unit.name for unit in cc.cache.possibleSizeUnits" data-ng-model="cc.cache.cacheSizeUnit">
                    </select>
                    <strong>OR</strong>                        
                </div>
                <div class="six columns">

                    <label for="blocks">Number of Blocks/Sets</label>
                    <input name="blocks" data-ng-model="cc.cache.blocks" type="number" id="blocks">
                </div>
              </div>
              <div class="row text-error" data-ng-if="cc.result.errors.addresssize">{{cc.result.errors.cachesize}}</div>
              <div class="row input-row">
                <div class="six columns">
                    <label for="blockSize">Block size </label>
                    <input id="blockSize" type="number" data-ng-model="cc.cache.blockSize">
                    <select data-ng-options="unit.name for unit in cc.cache.possibleBlockSizeUnits" data-ng-model="cc.cache.blockSizeUnit">
                    </select>
                </div>
                <div class="six columns">
                    <label for="associativity">Associativity</label>
                    <select name="associativity" id="associativity" data-ng-model="cc.cache.associativity">
                        <option value="1">Direct mapped (1-way)</option>
                        <option value="2">2-way</option>
                        <option value="4">4-way</option>
                        <option value="8">8-way</option>
                        <option value="0">Fully associative</option>
                    </select>
                </div>  
              </div>
              <div class="row text-error" data-ng-if="cc.result.errors.blocksize">{{cc.result.errors.blocksize}}</div>
              <div class="row input-row">
                  <div class="twelve columns">
                      <label for="addressSize">Adress size</label>
                      <input name="addressSize" id="addressSize" data-ng-model="cc.cache.addressSize" type="number"> bits
                  </div>                              
              </div>
              <div class="row text-error" data-ng-if="cc.result.errors.cachesize">{{cc.result.errors.addresssize}}</div>
              <div class="row buttons-row">
                  <button type="submit" id="submitCacheOrganization" class="button-primary">Address formation</button>
                  <button type="reset" data-ng-if="cc.hasResult" id="submitCacheOrganization" class="button" data-ng-click="cc.reset()">Reset</button>
              </div>
            </form>
            <div data-ng-if="cc.hasResult">
              <h5>Address repartition</h5>
              <div class="address-repartition">
                <div class="tag-field" data-ng-style="{width:cc.getWidth('tag')}">Tag: {{cc.result.tag}}bits</div>
                <div class="index-field" data-ng-if="cc.result.blockIndex" data-ng-style="{width:cc.getWidth('blockIndex')}">Index: {{cc.result.blockIndex}}bits</div>
                <div class="blockoffset-field" data-ng-style="{width:cc.getWidth('blockOffset')}">Block offset: {{cc.result.blockOffset}}bits</div>
              </div>
            </div>
        </div>
      </section>
    </div>

    <footer class="container">
      <p>This page was created by <a href="https://github.com/ptsavdar">ptsavdar</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>

      <script type="text/javascript" src="js/vendor/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/plugins.js"></script>
      <script type="text/javascript" src="js/vendor/angular.min.js"></script>
      <script type="text/javascript" src="js/vendor/underscore-min.js"></script>

      <script type="text/javascript" src="js/app/app.bootstrap.js"></script>
      <script type="text/javascript" src="js/app/cache/cache.module.js"></script>
      <script type="text/javascript" src="js/app/cache/cache.dataservice.js"></script>
      <script type="text/javascript" src="js/app/cache/cache.controller.js"></script>
      <script type="text/javascript" src="js/app/app.module.js"></script>
    </footer>  
  </body>
</html>
